.column-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  border-radius: 60px;
  background-color: #007aff;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  border: none;
}
.button.xl {
  width: 345px;
  height: 40px;
  padding: 14px 0;
  font-size: 16px;
}
.button.m {
  width: 272px;
  height: 30px;
  padding: 10px, 0;
  font-size: 14px;
}
.button.xs {
  width: 195px;
  height: 19px;
  padding: 5px, 0;
  font-size: 12px;
}
